In [25]:
%pip install pandas

Collecting pandas
  Using cached pandas-2.2.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.0 MB)
Collecting tzdata>=2022.7
  Using cached tzdata-2023.4-py2.py3-none-any.whl (346 kB)
Collecting pytz>=2020.1
  Using cached pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
Collecting python-dateutil>=2.8.2
  Using cached python_dateutil-2.8.2-py2.py3-none-any.whl (247 kB)
Collecting numpy<2,>=1.22.4
  Using cached numpy-1.26.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.2 MB)
Collecting six>=1.5
  Using cached six-1.16.0-py2.py3-none-any.whl (11 kB)
Installing collected packages: pytz, tzdata, six, numpy, python-dateutil, pandas
Successfully installed numpy-1.26.3 pandas-2.2.0 python-dateutil-2.8.2 pytz-2023.3.post1 six-1.16.0 tzdata-2023.4
Note: you may need to restart the kernel to use updated packages.

In [26]:
import pandas as pd

In [27]:
from sqlalchemy import create_engine

In [41]:
df = pd.read_csv('green_tripdata_2019-09.csv')

/tmp/ipykernel_43243/3716745654.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-09.csv')

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 449063 entries, 0 to 449062
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               389920 non-null  float64
 1   lpep_pickup_datetime   449063 non-null  object
 2   lpep_dropoff_datetime  449063 non-null  object
 3   store_and_fwd_flag     389920 non-null  object
 4   RatecodeID             389920 non-null  float64
 5   PULocationID           449063 non-null  int64
 6   DOLocationID           449063 non-null  int64
 7   passenger_count        389920 non-null  float64
 8   trip_distance          449063 non-null  float64
 9   fare_amount            449063 non-null  float64
 10  extra                  449063 non-null  float64
 11  mta_tax                449063 non-null  float64
 12  tip_amount             449063 non-null  float64
 13  tolls_amount           449063 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  449063 non-null  float64
 16  total_amount           449063 non-null  float64
 17  payment_type           389920 non-null  float64
 18  trip_type              389920 non-null  float64
 19  congestion_surcharge   389920 non-null  float64
dtypes: float64(15), int64(2), object(3)
memory usage: 68.5+ MB

In [43]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [44]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [45]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [46]:
table_name = 'green_taxi_data'

In [47]:
df.to_sql(name=table_name, con=engine, index=False, if_exists='replace')

63

In [ ]:
# Nombre de la tabla en la base de datos
#table_name = 'green_taxi_data'

# Tamaño del chunk (ajusta según tus necesidades)
#chunk_size = 1000

# Insertar datos en la tabla en chunks
#for chunk in pd.read_csv('tu_archivo.csv', chunksize=chunk_size):
    
    #chunk.to_sql(name=table_name, con=engine, index=False, if_exists='append')

In [48]:
df_data = pd.read_csv('taxi+_zone_lookup.csv')

In [49]:
df_data

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [51]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1.0,1.0,0.0

In [52]:
df_data.to_sql(name='zones', con=engine, if_exists='replace')

265

In [53]:
df_data

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [57]:
df.shape

(449063, 20)

In [58]:
# Nombre de las tablas en la base de datos
taxi_data_table = 'green_taxi_data'
zones_table = 'zones'  # Ajusta este nombre según el nombre real de tu tabla de zonas

# Cargar los DataFrames desde las tablas
taxi_data = pd.read_sql_table(taxi_data_table, con=engine)
zones = pd.read_sql_table(zones_table, con=engine)

In [63]:
merged_data = pd.merge(taxi_data, zones, left_on='PULocationID', right_on='LocationID', how='left', suffixes=('_taxi', '_pickup'))
merged_data = pd.merge(merged_data, zones, left_on='DOLocationID', right_on='LocationID', how='left', suffixes=('_taxi', '_drop'))

In [64]:
merged_data

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,index_taxi,LocationID_taxi,Borough_taxi,Zone_taxi,service_zone_taxi,index_drop,LocationID_drop,Borough_drop,Zone_drop,service_zone_drop
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.50,...,64,65,Brooklyn,Downtown Brooklyn/MetroTech,Boro Zone,188,189,Brooklyn,Prospect Heights,Boro Zone
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.00,...,96,97,Brooklyn,Fort Greene,Boro Zone,224,225,Brooklyn,Stuyvesant Heights,Boro Zone
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.00,...,36,37,Brooklyn,Bushwick South,Boro Zone,60,61,Brooklyn,Crown Heights North,Boro Zone
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.50,...,144,145,Queens,Long Island City/Hunters Point,Boro Zone,111,112,Brooklyn,Greenpoint,Boro Zone
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.00,...,111,112,Brooklyn,Greenpoint,Boro Zone,197,198,Queens,Ridgewood,Boro Zone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449058,NaN,2019-09-30 23:13:00,2019-09-30 23:41:00,None,NaN,66,71,NaN,7.84,43.25,...,65,66,Brooklyn,DUMBO/Vinegar Hill,Boro Zone,70,71,Brooklyn,East Flatbush/Farragut,Boro Zone
449059,NaN,2019-09-30 23:26:00,2019-09-30 23:46:00,None,NaN,55,26,NaN,3.56,25.75,...,54,55,Brooklyn,Coney Island,Boro Zone,25,26,Brooklyn,Borough Park,Boro Zone
449060,NaN,2019-09-30 23:15:00,2019-09-30 23:43:00,None,NaN,139,78,NaN,18.47,50.47,...,138,139,Queens,Laurelton,Boro Zone,77,78,Bronx,East Tremont,Boro Zone
449061,NaN,2019-09-30 23:19:00,2019-10-01 00:06:00,None,NaN,242,188,NaN,20.10,58.22,...,241,242,Bronx,Van Nest/Morris Park,Boro Zone,187,188,Brooklyn,Prospect-Lefferts Gardens,Boro Zone
449062,NaN,2019-09-30 23:35:00,2019-09-30 23:58:00,None,NaN,155,189,NaN,5.87,26.07,...,154,155,Brooklyn,Marine Park/Mill Basin,Boro Zone,188,189,Brooklyn,Prospect Heights,Boro Zone

In [68]:
merged_data['PULocationID'] = merged_data['Borough_taxi'] + ' - ' + merged_data['Zone_taxi']
merged_data['DOLocationID'] = merged_data['Borough_drop'] + ' - ' + merged_data['Zone_drop']

In [66]:
merged_data

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,Borough_taxi,Zone_taxi,service_zone_taxi,index_drop,LocationID_drop,Borough_drop,Zone_drop,service_zone_drop,PU_Location,DO_Location
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.50,...,Brooklyn,Downtown Brooklyn/MetroTech,Boro Zone,188,189,Brooklyn,Prospect Heights,Boro Zone,Brooklyn - Downtown Brooklyn/MetroTech,Brooklyn - Prospect Heights
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.00,...,Brooklyn,Fort Greene,Boro Zone,224,225,Brooklyn,Stuyvesant Heights,Boro Zone,Brooklyn - Fort Greene,Brooklyn - Stuyvesant Heights
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.00,...,Brooklyn,Bushwick South,Boro Zone,60,61,Brooklyn,Crown Heights North,Boro Zone,Brooklyn - Bushwick South,Brooklyn - Crown Heights North
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.50,...,Queens,Long Island City/Hunters Point,Boro Zone,111,112,Brooklyn,Greenpoint,Boro Zone,Queens - Long Island City/Hunters Point,Brooklyn - Greenpoint
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.00,...,Brooklyn,Greenpoint,Boro Zone,197,198,Queens,Ridgewood,Boro Zone,Brooklyn - Greenpoint,Queens - Ridgewood
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449058,NaN,2019-09-30 23:13:00,2019-09-30 23:41:00,None,NaN,66,71,NaN,7.84,43.25,...,Brooklyn,DUMBO/Vinegar Hill,Boro Zone,70,71,Brooklyn,East Flatbush/Farragut,Boro Zone,Brooklyn - DUMBO/Vinegar Hill,Brooklyn - East Flatbush/Farragut
449059,NaN,2019-09-30 23:26:00,2019-09-30 23:46:00,None,NaN,55,26,NaN,3.56,25.75,...,Brooklyn,Coney Island,Boro Zone,25,26,Brooklyn,Borough Park,Boro Zone,Brooklyn - Coney Island,Brooklyn - Borough Park
449060,NaN,2019-09-30 23:15:00,2019-09-30 23:43:00,None,NaN,139,78,NaN,18.47,50.47,...,Queens,Laurelton,Boro Zone,77,78,Bronx,East Tremont,Boro Zone,Queens - Laurelton,Bronx - East Tremont
449061,NaN,2019-09-30 23:19:00,2019-10-01 00:06:00,None,NaN,242,188,NaN,20.10,58.22,...,Bronx,Van Nest/Morris Park,Boro Zone,187,188,Brooklyn,Prospect-Lefferts Gardens,Boro Zone,Bronx - Van Nest/Morris Park,Brooklyn - Prospect-Lefferts Gardens
449062,NaN,2019-09-30 23:35:00,2019-09-30 23:58:00,None,NaN,155,189,NaN,5.87,26.07,...,Brooklyn,Marine Park/Mill Basin,Boro Zone,188,189,Brooklyn,Prospect Heights,Boro Zone,Brooklyn - Marine Park/Mill Basin,Brooklyn - Prospect Heights

In [69]:
# Lista de columnas a eliminar
columnas_a_eliminar = ['Borough_taxi',	'Zone_taxi',	'service_zone_taxi',	'index_drop',	'LocationID_drop',	'Borough_drop',	'Zone_drop',	'service_zone_drop']

# Eliminar las columnas
merged_data = merged_data.drop(columnas_a_eliminar, axis=1)

# Mostrar el resultado
print(merged_data)

        VendorID lpep_pickup_datetime lpep_dropoff_datetime  \
0            2.0  2019-09-01 00:10:53   2019-09-01 00:23:46
1            2.0  2019-09-01 00:31:22   2019-09-01 00:44:37
2            2.0  2019-09-01 00:50:24   2019-09-01 01:03:20
3            2.0  2019-09-01 00:27:06   2019-09-01 00:33:22
4            2.0  2019-09-01 00:43:23   2019-09-01 00:59:54
...          ...                  ...                   ...
449058       NaN  2019-09-30 23:13:00   2019-09-30 23:41:00
449059       NaN  2019-09-30 23:26:00   2019-09-30 23:46:00
449060       NaN  2019-09-30 23:15:00   2019-09-30 23:43:00
449061       NaN  2019-09-30 23:19:00   2019-10-01 00:06:00
449062       NaN  2019-09-30 23:35:00   2019-09-30 23:58:00

       store_and_fwd_flag  RatecodeID  \
0                       N         1.0
1                       N         1.0
2                       N         1.0
3                       N         1.0
4                       N         1.0
...                   ...         ...
449058               None         NaN
449059               None         NaN
449060               None         NaN
449061               None         NaN
449062               None         NaN

                                   PULocationID  \
0        Brooklyn - Downtown Brooklyn/MetroTech
1                        Brooklyn - Fort Greene
2                     Brooklyn - Bushwick South
3       Queens - Long Island City/Hunters Point
4                         Brooklyn - Greenpoint
...                                         ...
449058            Brooklyn - DUMBO/Vinegar Hill
449059                  Brooklyn - Coney Island
449060                       Queens - Laurelton
449061             Bronx - Van Nest/Morris Park
449062        Brooklyn - Marine Park/Mill Basin

                                DOLocationID  passenger_count  trip_distance  \
0                Brooklyn - Prospect Heights              5.0           2.00
1              Brooklyn - Stuyvesant Heights              5.0           3.20
2             Brooklyn - Crown Heights North              5.0           2.99
3                      Brooklyn - Greenpoint              1.0           1.73
4                         Queens - Ridgewood              1.0           3.42
...                                      ...              ...            ...
449058     Brooklyn - East Flatbush/Farragut              NaN           7.84
449059               Brooklyn - Borough Park              NaN           3.56
449060                  Bronx - East Tremont              NaN          18.47
449061  Brooklyn - Prospect-Lefferts Gardens              NaN          20.10
449062           Brooklyn - Prospect Heights              NaN           5.87

        fare_amount  ...  ehail_fee  improvement_surcharge  total_amount  \
0             10.50  ...        NaN                    0.3         14.16
1             12.00  ...        NaN                    0.3         13.30
2             12.00  ...        NaN                    0.3         13.30
3              7.50  ...        NaN                    0.3         10.30
4             14.00  ...        NaN                    0.3         18.36
...             ...  ...        ...                    ...           ...
449058        43.25  ...        NaN                    0.0         46.50
449059        25.75  ...        NaN                    0.0         29.00
449060        50.47  ...        NaN                    0.0         59.84
449061        58.22  ...        NaN                    0.0         67.59
449062        26.07  ...        NaN                    0.0         29.32

        payment_type  trip_type  congestion_surcharge  index_taxi  \
0                1.0        1.0                   0.0          64
1                2.0        1.0                   0.0          96
2                2.0        1.0                   0.0          36
3                1.0        1.0                   0.0         144
4                1.0        1.0                   0.0         111
...              ...        ...                   ...         ...
449058           NaN        NaN                   NaN          65
449059           NaN        NaN                   NaN          54
449060           NaN        NaN                   NaN         138
449061           NaN        NaN                   NaN         241
449062           NaN        NaN                   NaN         154

        LocationID_taxi                              PU_Location  \
0                    65   Brooklyn - Downtown Brooklyn/MetroTech
1                    97                   Brooklyn - Fort Greene
2                    37                Brooklyn - Bushwick South
3                   145  Queens - Long Island City/Hunters Point
4                   112                    Brooklyn - Greenpoint
...                 ...                                      ...
449058               66            Brooklyn - DUMBO/Vinegar Hill
449059               55                  Brooklyn - Coney Island
449060              139                       Queens - Laurelton
449061              242             Bronx - Van Nest/Morris Park
449062              155        Brooklyn - Marine Park/Mill Basin

                                 DO_Location
0                Brooklyn - Prospect Heights
1              Brooklyn - Stuyvesant Heights
2             Brooklyn - Crown Heights North
3                      Brooklyn - Greenpoint
4                         Queens - Ridgewood
...                                      ...
449058     Brooklyn - East Flatbush/Farragut
449059               Brooklyn - Borough Park
449060                  Bronx - East Tremont
449061  Brooklyn - Prospect-Lefferts Gardens
449062           Brooklyn - Prospect Heights

[449063 rows x 24 columns]

In [72]:
merged_data=merged_data.drop(['index_taxi',	'LocationID_taxi',	'PU_Location',	'DO_Location'],axis=1)

In [73]:
merged_data

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,Brooklyn - Downtown Brooklyn/MetroTech,Brooklyn - Prospect Heights,5.0,2.00,10.50,0.50,0.5,2.36,0.00,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,Brooklyn - Fort Greene,Brooklyn - Stuyvesant Heights,5.0,3.20,12.00,0.50,0.5,0.00,0.00,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,Brooklyn - Bushwick South,Brooklyn - Crown Heights North,5.0,2.99,12.00,0.50,0.5,0.00,0.00,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,Queens - Long Island City/Hunters Point,Brooklyn - Greenpoint,1.0,1.73,7.50,0.50,0.5,1.50,0.00,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,Brooklyn - Greenpoint,Queens - Ridgewood,1.0,3.42,14.00,0.50,0.5,3.06,0.00,NaN,0.3,18.36,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449058,NaN,2019-09-30 23:13:00,2019-09-30 23:41:00,None,NaN,Brooklyn - DUMBO/Vinegar Hill,Brooklyn - East Flatbush/Farragut,NaN,7.84,43.25,2.75,0.5,0.00,0.00,NaN,0.0,46.50,NaN,NaN,NaN
449059,NaN,2019-09-30 23:26:00,2019-09-30 23:46:00,None,NaN,Brooklyn - Coney Island,Brooklyn - Borough Park,NaN,3.56,25.75,2.75,0.5,0.00,0.00,NaN,0.0,29.00,NaN,NaN,NaN
449060,NaN,2019-09-30 23:15:00,2019-09-30 23:43:00,None,NaN,Queens - Laurelton,Bronx - East Tremont,NaN,18.47,50.47,2.75,0.5,0.00,6.12,NaN,0.0,59.84,NaN,NaN,NaN
449061,NaN,2019-09-30 23:19:00,2019-10-01 00:06:00,None,NaN,Bronx - Van Nest/Morris Park,Brooklyn - Prospect-Lefferts Gardens,NaN,20.10,58.22,2.75,0.5,0.00,6.12,NaN,0.0,67.59,NaN,NaN,NaN
449062,NaN,2019-09-30 23:35:00,2019-09-30 23:58:00,None,NaN,Brooklyn - Marine Park/Mill Basin,Brooklyn - Prospect Heights,NaN,5.87,26.07,2.75,0.5,0.00,0.00,NaN,0.0,29.32,NaN,NaN,NaN

In [76]:
merged_data.to_sql(name='green_view', con=engine, if_exists='replace', index=False)

63